/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*global classes*/
.bg-nav{
    background-color: darkslateblue;
}


.container{
    margin: auto;
    width: 80%;   
}
.text-white{
    color:white;
}
.p{
    text-align: center;
}
.bg-div{
    background-color: lightgray;
}
.card{
    width: 30%;
    vertical-align: top;
    display: inline-block;
    border: 2px solid;
    border-color: darkgray;
    border-radius: 37%;
    
    margin-top: 5%;
}
.icon{
    margin: auto;
    border-radius: 50%;
    border-color: blue;
}
/*costemzed classes*/
nav{
    padding: 1% 0%;
}

nav ul {
    margin-left: 84%;
}
nav li , nav h2 , nav ul{
    display: inline-block;
}
.title{
    text-align: center;
    font-size: 50px;
}